.home-page-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/home_background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-div{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-div h1{
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.hero-div h3{
    text-align: center;
}

.message {
    background-color: var(--main-green-color);
    position: fixed;
    z-index: 9999;
    top: 20px;
    transform: translateX(-50%);
    left: 50%;
    color: black;
    padding: 12px 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}