.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: white;
}

.home-container img {
    width: 50%;
    height: auto;
}
