/* Page container */
.game-page-container {
    display: grid;
    height: 100vh;
    background-color: #121212;
    grid-template-columns: 2fr 3fr 2fr;
    align-items: center;
}

/* Game data */
.game-data-container {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.game-data-container span {
    border: 2px solid var(--main-orange-color);
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #333;
}

/* Main board */
.game-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;
}

.game-cell {
    width: 100px;
    height: 100px;
    background-color: #333;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    user-select: none;
    outline: none;
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.game-cell:hover {
    background-color: #555;
    transform: scale(1.05);
}

/* Side deck + Skills */
.side-container {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
    gap: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-container {
    width: 100%;
}

.skill-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
    width: 100%;
    border: 2px solid var(--main-orange-color);
    border-radius: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.skill-button:hover {
    background-color: var(--main-orange-color);
    color: black;
}

/* Card grid */
.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cards-container > :last-child {
    grid-column: span 2;
    justify-self: center;
}

.card-button {
    aspect-ratio: 1/1;
    width: 150px;
    margin: 5px;
    font-size: 18px;
    border: 5px solid transparent;
    border-radius: 10px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.card-button:hover {
    background-color: #555;
}

.pulsating-bg {
    animation: pulsate 2s infinite;
}

@keyframes pulsate {
    0% {
        background-color: #333;
    }
    50% {
        background-color: lightgreen
    }
    100% {
        background-color: #333;
    }
}
