.skills-container {
    width: 100%;
    flex-shrink: 0;
}

.skill-button {
    margin: 0.5vh 0;
    padding: 1vh 1vw;
    font-size: 2vh;
    width: 100%;
    border: 2px dashed;
    border-color: var(--main-orange-color);
    border-radius: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.skill-button-disabled {
    border-color: gray;
    color: gray;
    cursor: default;
}

.skill-button-active {
    background-color: var(--main-orange-color);
    border: 2px solid var(--main-orange-color);
    color: black;
}

.skill-button:hover:not(.skill-button-active):not(.skill-button-disabled):not(.reverse-button) {
    border: 2px solid var(--main-orange-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.reverse-button:not(.skill-button-disabled) {
    border-color: var(--main-cyan-color);
}

.reverse-button:hover:not(.skill-button-active):not(.skill-button-disabled) {
    border: 2px solid var(--main-cyan-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.reverse-button-active {
    background-color: var(--main-cyan-color);
    border: 2px solid var(--main-cyan-color);
    color: black;
}
