.buttons-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vh;
}

.buttons-container:has(.button:nth-child(2)) {
    grid-template-columns: 1fr 1fr;
}

.button {
    padding: 1vh 3vw;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    font-weight: 500;
    border-radius: 5px;
    border: 2px dashed var(--main-green-color);
    background: var(--main-bg-color);
    color: var(--main-green-color);
    transition: all 0.1s ease-in-out;
}

.button:hover {
    background: var(--main-green-color);
    color: black;
    cursor: pointer;
}

.button.md {
    padding: 0.75vh 2vw;
    font-size: 1.75vh;
}

.button.sm {
    padding: 0.5vh 1.5vw;
    font-size: 1.5vh;
}

.button.orange {
    border: 2px dashed var(--main-orange-color);
    color: var(--main-orange-color);
}

.button.orange:hover {
    background: var(--main-orange-color);
    color: black;
}

.button.danger {
    border: 2px dashed var(--main-red-color);
    color: var(--main-red-color);
}

.button.danger:hover {
    background: var(--main-red-color);
    color: black;
    cursor: pointer;
}

.button.secondary {
    border: 2px dashed var(--main-cyan-color);
    color: var(--main-cyan-color);
}

.button.secondary:hover {
    background: var(--main-cyan-color);
    color: black;
    cursor: pointer;
}

.button:disabled {
    border: 2px dashed rgba(50, 50, 50, 0.85);
    color: rgba(50, 50, 50, 0.85);
    cursor: default;
}

.button:disabled:hover {
    background: var(--main-bg-color);
    color: rgba(50, 50, 50, 0.85);
}
