.dark-select, .class-form-input.dark-select {
  background: #222 !important;
  color: #fff !important;
  border: 1px solid #e74c3c !important;
}

.dark-select option {
  background: #222;
  color: #fff;
}
