.message {
    background-color: var(--main-green-color);
    position: fixed;
    z-index: 9999;
    top: 20px;
    transform: translateX(-50%);
    left: 50%;
    color: black;
    padding: 12px 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
