.auth-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  border: solid 2px var(--main-green-color);
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.auth-button:hover {
  background-color: var(--main-green-color);
  color: #000;
}

.orange-button {
  border: solid 2px var(--main-orange-color) !important;
}

.orange-button:hover{
  background-color: var(--main-orange-color) !important;
}

.auth-button:active {
  transform: translateY(-1px);
}

.blue{
  border: solid 2px var(--main-blue-color) !important;
}

.blue:hover{
  background-color: var(--main-blue-color) !important;
  box-shadow: 0px 15px 20px rgba(46, 92, 229, 0.4);
}

.danger{
  border: solid 2px var(--main-red-color) !important;
}
.danger:hover{
  background-color: var(--main-red-color) !important;
}