.friend-table {
  border-collapse: separate;
  border-spacing: 2em 1em;
  width: 100%;
}

.friend-action-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.friend-cta-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
}
