
.custom-form-input {
  position: relative;
}

.custom-form-input-label {
  color: #b1d12d;
  cursor: pointer;
  left: 5px;
  position: absolute;
  top: 0;
  transform: translateY(-15px) scale(0.7);
  transform-origin: top left;
  transition: transform 0.5s, color 0.3s;
}

.custom-form-input-label:after {
  color: #cc0033 !important;
  content: "*";
}

.custom-input {
  background-color: transparent !important;
  color: var(--color-input) !important;
  font-family: inherit !important;
  font-size: 1rem !important;
  margin: 20px 0;
  outline: none !important;
  padding: 0.6em 0.3em !important;
  width: 100% !important;
}

.custom-input {
  border: none !important;
  border-bottom: 1px solid var(--main-orange-color) !important;
}

.custom-input:disabled {
  background-color: rgb(239, 239, 239) !important;
}
