
.admin-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.custom-form-input {
  position: relative;
}

.custom-form-input-label {
  color: #b1d12d;
  cursor: pointer;
  left: 5px;
  position: absolute;
  top: 0;
  transform: translateY(-15px) scale(0.7);
  transform-origin: top left;
  transition: transform 0.5s, color 0.3s;
}

.custom-form-input-label:after {
  color: #cc0033 !important;
  content: "*";
}

.custom-input,
.custom-textarea {
  background-color: transparent !important;
  color: var(--color-input) !important;
  font-family: inherit !important;
  font-size: 1rem !important;
  margin: 20px 0;
  outline: none !important;
  padding: 0.6em 0.3em !important;
  width: 100% !important;
}

.custom-input {
  border: none !important;
  border-bottom: 1px solid var(--main-orange-color) !important;
}

.custom-input:disabled {
  background-color: rgb(239, 239, 239) !important;
}

.custom-textarea {
  border: 1px solid var(--main-button-hover-dark-color) !important;
}

.custom-button-row {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 100%;
}

.black-select {
  background-color: #000;
  border: 1px solid #333;
  color: #fff;
}

.black-select option {
  background-color: #000;
  color: #fff;
}

