.user-modal-header {
  color: #fe5b02 !important;
  background: #111 !important;
}

.user-modal-body {
  background: #111 !important;
  color: #fff !important;
}

.user-modal-footer {
  background: #111 !important;
}

.user-modal-cancel {
  background: #555 !important;
  color: #fff !important;
  border: none !important;
}

.user-modal-delete {
  background: #fe5b02 !important;
  color: #000 !important;
  font-weight: bold !important;
  border: none !important;
}
