.hero-div-newGame {
    background-color: rgba(34, 34, 34, 0.67);
    padding: 2rem;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

}

.hero-div-newGame h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #FE5B02;
    text-align: center;
    text-transform: uppercase;
}

.hero-div-newGame h4 {
    text-align: center;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button-style {
    background-color: rgba(34, 34, 34, 0.67);
    margin: 20px;
    color: #FE5B02;
    border: 2px solid #FE5B02;
    cursor: pointer;
    font-size: 28px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    width: 320px;
    height: 70px;
    white-space: nowrap;
}

.button-style:hover {
  background-color: #FE5B02;
  box-shadow: 0px 5px 5px #fe5a028a;
  color: black;
  transform: translateY(-7px);
}

.colors {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 10%;
  justify-content: space-evenly;
}

.color-image-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    border-radius: 8px;
    margin: 5px;
    transition: all ease-in-out 0.1s;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: inherit;
}


.selected-container {
    border-color: var(--main-orange-color);
    transform: scale(1.05);
}

.selected-color-container {
    background-color: #b1d12d;
    padding: 1%;
    border-radius: 10%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.caution-button {
  color: orange !important;
  border: 2px solid orange !important;
  background-color: transparent !important;
  min-width: 15% !important;
}

.caution-button:hover {
  color: #222222 !important;
  background-color: orange !important;
}

.negative-button {
  color: #FE5B02 !important;
  border: 2px solid #FE5B02 !important;
  background-color: transparent !important;
  min-width: 15% !important;
}

.negative-button:hover {
  color: #222222 !important;
  background-color: #FE5B02 !important;
}

.positive-button {
  color: #b1d12d !important;
  border: 2px solid #b1d12d !important;
  background-color: transparent !important;
  min-width: 15% !important;
}

.positive-button:hover {
  color: #222222 !important;
  background-color: #b1d12d !important;
}

.normal-button {
  color: #FE5B02 !important;
  border: 2px solid #FE5B02 !important;
  background-color: transparent !important;
  min-width: 15% !important;
}

.normal-button:hover {
  color: #222222 !important;
  background-color: #FE5B02 !important;
}

.modal-content-custom {
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  height: 200px;
  color: rgb(225, 28, 36);
  background-color: rgba(34, 34, 34, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 5px solid rgb(225, 28, 36);
}

.modal-footer-custom {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

.join-label {
  color: white;
  font-size: 1.2rem;
}

.join-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.join-input {
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  max-width: 300px;
  border-radius: 5px;
  background-color: #2C2C2C;
  color: white;
  border: 2px dashed #b1d12d;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.join-input:focus {
  border: 2px solid #b1d12d;
}
